.GraphGiso{
    width: fit-content;
    height: 500px;
}
.configGroup{
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    width: 100%;
}
.Plot{
    width: 100%;
    height: 100%;
}